@font-face{
	font-family: "ProductSans";
	src : url("../font/product-sans/Product-Sans-Regular.ttf") format("truetype");
}

html,
body{
	margin: 0px;
	padding: 0px;
	font-family: "ProductSans";
}

textarea{
	resize: none;
}

/* Navbar */

#navbar{
	height: 70px;
}

#navbar ul{
	list-style: none;
}

#navbar ul li.logo{
	float: left;
	margin-left: 150px;
}

#navbar ul li.logo a img{
	width: 180px;
}

#navbar ul li.menu{
	float: right;
	font-size: 20px;
	margin-top: 15px;
	margin-right: 30px;
	}

/* Side Bar */
#sidebar{
	float: left;
	width: 13%;
	height: 100%;
	position: fixed;
	color: white;
	background-color: #555;
	top: 0;
}

#sidebar ul{
	padding-left: 10px;
}

#sidebar ul li{
	margin-left: 0px;
	padding: 10px 0px 10px 0px;
	list-style: none;
}

#sidebar a:hover, a:active, a:focus, a:link{
	text-decoration: none;
	color: white;
}

/* Content */
#content{
	margin-top: 20px;
	margin-left: 210px;
	width: 80%;
}

#content table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}

#content td{
	padding: 10px;
	text-align: center;
}

#content th,tr:nth-child(even) {
    background-color: #f2f2f2;
}

#content td.title{
	width: 300px;
}

#content td.content{
	text-align: justify;
}

#content input{
	height: 30px;
	width: 65%;
}

#content img{
	height: 200px;
	width: 300px;

}