@font-face{
	font-family: "ProductSans";
	src : url("../font/product-sans/Product-Sans-Regular.ttf") format("truetype");
}

html,
body{
	margin: 0px;
	padding: 0px;
	font-family: "ProductSans";
}

/* Navbar */

#navbar{
	height: 70px;
}

a:hover, a:active, a:focus, a:link{
	text-decoration: none;
	color: black;
}

#navbar ul{
	list-style: none;
}

#navbar ul li.logo{
	float: left;
}

#navbar ul li.logo a img{
	width: 180px;
}

#navbar ul li.menu{
	float: right;
	font-size: 20px;
	margin-top: 15px;
	margin-right: 30px;
	}

/* Page 1 */

#page1{
	position: relative;
	color: white;
	margin-bottom: 40px;
}

#page1 img{
	width: 100%;
	height: 100%;
}

#page1 div.container{
	position: absolute;
	width: 500px;
	padding: 10px;
	background-color: rgba(0,0,0,0.7);
	bottom: 3px;
	left: 200px;
	text-align: justify;
	font-size: 18px;
}

#page1 h1{
	font-size: 50px;
	text-align: center;
}

/* Page 2 */

#page2{
	margin-left: 200px;
	margin-right: 200px;
	width: 1100px;
	height: 900px;
}

#page2 div.contain{
	float: left;
	font-size: 18px;
	width: 700px;
}

#page2 .firstcharacter{
	color: #903;
	float: left;
	font-size: 75px;
	line-height: 60px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
}

#page2 div.sub{
	float: right;
	width: 300px;
	padding-left: 30px;
	margin-bottom: 30px;
}

#page2 div.box{
	width: 80%;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px;
}

#page2 div.box h5{
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 11px;
}

#page2 div.box p{
	margin-top: 0px;
	margin-left: 11px;
}

#page2 img{
	margin: 10px;
	width: 200px;
	height: 150px;
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

#page2 img.author{
	margin-left: 25%;
	height: 75px;
	width: 75px;
	border: 0;
	border-radius: 50%;
	float: left;
}

#page2 p.author{
	float: left;
	width: 400px;
	text-align: justify;
}

/* Footer */

footer{
	background-color: #444;
	color: white;
	width: 100%;
	height: 400px;
}

footer div.contain{
	padding-top: 50px;
	margin-right: 200px;
	margin-left: 200px;
}

footer div.contain div.alamat{
	float: left;
}

footer .satu{
	margin-right: 70px;
}

footer br{
	margin-bottom: 20px;
}

footer .cop{
	padding-top: 20px;
	clear: both;
}