@font-face{
	font-family: "ProductSans";
	src : url("../font/product-sans/Product-Sans-Regular.ttf") format("truetype");
}

html,
body{
	margin: 0px;
	padding: 0px;
	font-family: "ProductSans";
}

/*img{
	filter: grayscale(1);
}

img:hover{
	filter: grayscale(0);
}*/

/* Page 1 */

#page1{
	width: 100%;
	height: 720px;
	background-image: url(../img/meeting.jpg);
	background-size: cover;
	clear: both;
}

	/* Navbar */

	#navbar{
		height: 70px;
	}

	a:hover, a:active, a:focus, a:link{
		text-decoration: none;
		color: black;
	}

	#navbar ul{
		list-style: none;
	}

	#navbar ul li.logo{
		float: left;
	}

	#navbar ul li.logo a img{
		width: 180px;
	}

	#navbar ul li.menu{
		float: right;
		font-size: 20px;
		margin-top: 15px;
		margin-right: 30px;
	}

/* Container */

#container{
	color: white;
	font-size: 40px;
	padding-top: 300px;
	text-align: center;
}

/* End of Page*/

/* Page 2 */

#page2{
	margin-bottom: 10px;
	margin: 50px 100px;
	height: 1350px;
}

#page2 h1{
	text-align: center;
	margin-bottom: 10px;
}

#page2 hr.underline{
	width: 100px;
	margin-bottom: 50px;
}

#page2 .wrapper{
	padding-bottom: 200px;
}

#page2 img{
	height: 300px;
	width: 500px;
	border: 4px solid #ddd;
    border-radius: 10px;
}

#page2 img.left{
	float: left;
}

#page2 img.right{
	float: right;
}

#page2 .containl{
	text-align: justify;
	font-size: 20px;
	padding-top: 30px;
	margin-right: 50%;
}

#page2 .containr{
	text-align: justify;
	font-size: 20px;
	padding-top: 30px;
	margin-left: 50%;
}

/* Page 3 */

#page3{
	height: 600px;
	width: 75%;
	display: block;
	margin-left: 200px;
	margin-right: 200px;
}

#page3 h1{
	text-align: center;
	margin-bottom: 10px;
}

#page3 hr.underline{
	width: 150px;
	margin-bottom: 40px;
}

#page3 #box{
	float: left;
	margin: 20px;
}

#page3 #box p{
	text-align: center;
}

#page3 h3{
	margin-bottom: 10px;
}

#page3 #box img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	margin-right: 40px;
	margin-left: 40px;
}

#page3 #box p{
	font-size: 20px;
}

/* Page 4 */

#page4{
	height: 1000px; 
}

#page4 h1{
	text-align: center;
	margin-bottom: 10px;
}

#page4 hr.underline{
	width: 100px;
	margin-bottom: 50px;
}

#page4 div.photos{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#page4 div.photos img{
	width: 350px;
	height: 250px;
}

/* Page 5 */

#page5{
	height: 500px;
}

#page5 h1{
	text-align: center;
	margin-bottom: 10px;
}

#page5 hr.underline{
	width: 100px;
	margin-bottom: 50px;
}

#service{
	width: 1200px;
	margin-right: 200px;
	margin-left: 200px;
}

#page5 div.box img{
	margin-left: 40px;
}

#page5 div.box{
	margin-right: 50px;
	width: 200px;
	float: left;
	text-align: justify;
}

/* Footer */

footer{
	background-color: #444;
	color: white;
	width: 100%;
	height: 400px;
}

footer div.contain{
	padding-top: 50px;
	margin-right: 200px;
	margin-left: 200px;
}

footer div.contain div.alamat{
	float: left;
}

footer .satu{
	margin-right: 70px;
}

footer br{
	margin-bottom: 20px;
}

footer .cop{
	padding-top: 20px;
	clear: both;
}